{% extends 'layout.html' %}

{% block content %}
    <h1>KENDİMİZİ TANITALIM</h1>

    <P1>Merhaba biz Alparslan Türkeş Bilim ve teknoloji Üniversitesinde Yönetim Bilşim Sistemleri, 3. sınıf öğrencileriyiz.  </P1>
<br>
    <P2> Herkese ve özellikle öğrencilere faydalı olabilecek boş zamanlarını değerlendirecek bir internet sitesi yaptık </P2>
    
    <br>
    <p3>
        Dilek öneri ve şikayetlerinizi bize bildiriniz:
        <br>
       <U> Supporthoyapp@gmail.com</U>
    </p3>
    {% endblock %}