{% extends 'layout.html' %}
{% load static %}


{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">HOY/APP UYGULAMASINA HOŞGELDİNİZ!</h1>
        <p class="lead">Aşağıda aradığınız özellikte işleri kolaylıkla bulabilirsiniz.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="{% static 'img/1.jpg' %}" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title">Tesisat</div>
                        <p class="card-text">
                        Tesisat işleri için başvurabilirsiniz.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">4 saat önce</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="{% static 'img/2.jpg' %}" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title">Gitar-Şarkı</div>
                        <p class="card-text">
                            Gitar çalıp şarkı söyleyebilen ve boş zamanlarını nakite çevirmek isteyen herkes başvurmalıı!!
                        </p>
                        <p class="card-text">
                            <small class="text-muted">14 saat önce</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="{% static 'img/3.jpg' %}" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title">Kamera-Fotoğraf</div>
                        <p class="card-text">
                            Fotoğraf makinesi kullanmayı bilen veya öğrenmek isteyen herkes bana ulaşabilir.

                            cccc@gmail.com
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 gün önce</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}